<div class="modal fade" data-backdrop="static" data-keyboard="false" id="newCreditCardFormModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="flaticon2-arrow-up text-primary mr-1"></i> New Credit Card
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'api-upgrade-membership-only' %}" method="POST" id='new-credit-card-form'
                    class="form">
                    {% csrf_token %}
                    <div id="new-credit-card-text-body">

                        <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                            <div class="alert-text">
                                You will upgrade your membership to <b id="new-membership-text-holder"></b>,
                                in <b id="new-membership-cycle-holder"></b> billing cycle.
                            </div>

                        </div>
                    </div>
                    {# start checkbox input #}
                    <div class="form-group row">
                        <label class="col-5 col-form-label cursor-pointer" for='use-last-credit-card-input'>Use Last
                            Credit Card</label>
                        <div class="col-7 col-form-label">
                            <div class="checkbox-inline">

                                <label class="checkbox checkbox-lg checkbox-rounded">
                                    <input type="checkbox" name="use_last_credit_card_input"
                                        id="use-last-credit-card-input" value="" />
                                    <span></span></label>
                            </div>
                            {# <span class="form-text text-muted">Use the last credit card you provide</span> #}
                        </div>
                    </div>
                    {# end checkbox input #}

                    {# Start stripe form element #}
                    <div class="form-group" id="new-credit-card-element-parent-wrpper">
                        <div id="new-credit-card-element-wrapper">
                            <div class="separator separator-dashed my-5"></div>
                            <label class="font-weight-bolder d-inline-block mb-3">New Credit Card Number:</label>
                            <div id="new-credit-card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <!-- Used to display form errors. -->
                            <div id="new-credit-card-form-errors" class="text-danger" role="alert"></div>
                            <span class="form-text text-muted">
                                The new credit card will be the default for all payment process on
                                {{ get_company_settings.name }}
                            </span>
                        </div>
                    </div>
                    {# End stripe form element #}
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" id="new-credit-card-submit-btn" form="new-credit-card-form"
                    class="btn btn-primary">Submits</button>
            </div>
        </div>
    </div>
</div>
