[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
prettyprinter = "*"
faker = "*"
bpython = "*"
simplejson = "*"
django = "*"
djangorestframework = "*"
django-storages = "*"
django-maintenance-mode = "*"
django-widget-tweaks = "*"
django-countries = "*"
django-ipware = "*"
django-allauth = "*"
django-extensions = "*"
django-session-timeout = "*"
channels = "*"
daphne = "*"
gunicorn = "*"
stripe = "*"
celery = "*"
pathtools = "*"
pillow = "*"
six = "*"
xhtml2pdf = "*"
weasyprint = "*"
whitenoise = "*"
psycopg2-binary = "*"
pypika = "*"
openpyxl = "*"
pandas = "*"
xlrd = "*"
pandas-datareader = "*"
numpy = "*"
timeago = "*"
lxml = "*"
reportlab = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
xlwt = "*"
fpdf = "*"
pymupdf = "*"
imblearn = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
twisted = "==20.3.0"
asgiref = "==3.3.4"
setuptools = "*"
pip = "*"
google-api-core = "*"
requests = "*"
google-auth = "*"
autopep8 = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
wheel = "*"
fonttools = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
