{% extends 'users/inc/master.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Password Confirm
{% endblock title %}

{% block customcss %}

{% endblock customcss %}



{% block auth_content %}
<!--begin::Content-->
<div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 "
    style="max-width: 100% !important;">
    <!--begin::Content body-->
    <div class="d-flex flex-column-fluid flex-center">
        <div class="login-form login-signin ">
            <!--begin::Form-->

            <form class="form" method="POST">
                {% csrf_token %}
                <!--begin::Form group-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder text-dark">{{ form.new_password1.label }}</label>
                    {% render_field form.new_password1 class+="form-control form-control-solid h-auto py-7 px-6 rounded-lg mb-2" required='required' placeholder="New Password" %}
                    {# form.new_password1.help_text #}
                    <div class="alert alert-custom alert-light-warning fade show mb-5" role="alert">
                        <div class="alert-text">
                            {{ form.new_password1.help_text }}
                        </div>
                    </div>
                </div>
                <!--end::Form group-->
                <!--begin::Form group-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder text-dark">{{ form.new_password2.label }}</label>
                    {% render_field form.new_password2 class+="form-control form-control-solid h-auto py-7 px-6 rounded-lg" required='required' placeholder="New Password Confirmation" %}
                    {# form.new_password1.help_text #}
                </div>
                <!--end::Form group-->
                <!--begin::Action-->
                <div class="pb-lg-0 pb-5">
                    <button type="submit" id="kt_login_signin_submit"
                        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Reset
                        Password</button>

                </div>
                <!--end::Action-->
            </form>
            <!--end::Form-->
        </div>

    </div>
    <!--end::Content body-->
    <!--begin::Content footer-->
    <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0 mx-auto">
        <a href="{% url 'terms' %}" class="text-primary font-weight-bolder font-size-h5">Terms</a>
        <a href="{% url 'pricing' %}" class="text-primary ml-10 font-weight-bolder font-size-h5">Plans</a>
        <a href="{% url 'contact' %}" class="text-primary ml-10 font-weight-bolder font-size-h5">Contact Us</a>
    </div>
    <!--end::Content footer-->
</div>
<!--end::Content-->
{% endblock auth_content%}


{% block customjs %}




{% endblock customjs %}