<div class="card-custom card" style="width: 66rem;">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Invoices List
                <small>List of your invoices</small>
            </h3>
        </div>
    </div>
    <div class="card-body pt-3">

        <table class="table" id="invoices-list-table">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Amount Due</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Amount Remaining</th>
                    <th scope="col">Status</th>
                    <th scope="col">PDF URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>