<div class="card-custom card" style="width: 66rem;">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Transactions List
                <small>List of your transactions</small>
            </h3>
        </div>
    </div>
    <div class="card-body pt-3">

        <table class="table" id="transactions-list-table">
            <thead>
                <tr>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Card</th>
                    <th scope="col">Receipt URL</th>
                    <th scope="col">Paid</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>