{% extends 'members_app/inc/master.html' %}
{% load static %}
{% load data_handler_tags %}
{% block title %}
{{ title }} - Session
{% endblock title %}

{% block customcss %}

<link href="{% static 'assets/plugins/custom/jqvmap/jqvmap.bundle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock customcss %}


{% block content %}



<div class="container">
    <!--begin:: Alert-->
    <div class="alert alert-custom alert-light-primary fade show mb-5 text-center" role="alert">
        <div class="alert-text lead">
            <p class="font-weight-bolder" style="margin-bottom: 2px;">
                Predictive Model Dashboard
            </p>
            <!-- <p class="font-weight-bolder">
            Best fit model name:
        </p> -->

            <p class="font-weight-bolder">
                {% for item in model_output_data.model_name %}
                {{ item|get_model_name_dashboard }} <br />
                {% endfor %}
            </p>

            <p>
                <!-- {{extracted_data.donation_columns|get_cols}} -->
            </p>


        </div>

    </div>
    <!--end:: Alert-->
    <!--Begin::Row-->
    <div class="row mb-5">

        <div class="col-xl-4 col-lg-4">
            <!-- Start full card wrapper -->
            <section id="training-and-testing-full-wrapper">
                <!-- Start the card -->
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="card-icon">
                                <i class="icon-xl la la-chart-pie text-primary"></i>
                            </span>
                            <h3 class="card-label">
                                Train/Test Set
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Start Loader Image -->
                        <div class="dashboard-loader">
                            <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..." />
                        </div>
                        <!-- End Loader Image -->

                        <!-- Start train and test data chart -->
                        <section id='trainAndTestWrapper' class="my-transition d-none">
                            <!--begin:: Widgets/Revenue Change-->
                            <div id="session_dashboard_training_testing_chart"
                                class="d-flex justify-content-center my-transition"></div>
                            <!--end:: Widgets/Revenue Change-->
                        </section>
                        <!-- End train and test data chart -->


                        <!-- Start No train and test data  -->
                        <section id="noTrainingAndTestingWrapper" class="d-none my-transition">
                            <p class="text-dark-50 font-weight-bold" id='noTrainingAndTestingBody'></p>
                        </section>
                        <!-- End No train and test data  -->
                    </div>
                </div>
                <!-- End the card -->
            </section>
            <!-- End full card wrapper -->


        </div>

        <div class="col-xl col-lg">
            {% if not donation_info.all_info %}
            {# in case no donation columns for this session #}
            <div class="card card-custom gutter-b bg-diagonal bg-diagonal-light-warning h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                        <div class="d-flex flex-column mr-5">
                            <p class="h4 text-dark text-hover-primary mb-5">
                                No Donation Columns.
                            </p>
                            <p class="text-dark-50">
                                Donation Columns: The input data is missing donation information (no Target Value) OR
                                only has one class (class
                                donor or class non-donor 'data imbalance') to list donation column(s). In such cases, to
                                execute the model
                                successfully, data features from the input file are matched against data features on the
                                similar donor files stored in
                                the Predict Me's server. Donor file with the highest match rate is selected and
                                processed using Natural Language
                                Processing (NLP) method to maximize the model performance
                            </p>
                        </div>
                        <div class="ml-6 ml-lg-0 ml-xxl-6 flex-shrink-0">
                            <!-- <button class="btn font-weight-bolder text-uppercase btn-warning py-4 px-6">
                            Start Chat
                        </button> -->
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {# in case donation columns exists for this session #}
            <div class="card card-custom gutter-b h-100">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            Data Summary
                        </h3>
                    </div>
                </div>

                <div class="card-body text-left" style="overflow-x: auto;">
                    <div class="table-responsive">
                        <table class="table table-hover mb-6">
                            <thead>
                                <tr>
                                    <th scope="col">Donation Columns</th>
                                    <th scope="col">Total Records</th>
                                    <th scope="col">Total Donation</th>
                                    <th scope="col">Average</th>
                                    <th scope="col">Max</th>
                                    <th scope="col">Min</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in donation_info.all_info.items %}
                                <tr scope='row'>
                                    <td>
                                        <strong>
                                            {{key}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            {{value.total_records}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            ${{value.total_donation}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            ${{value.mean_value}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            ${{value.max_value}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            ${{value.min_value}}
                                        </strong>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            {% endif %}



        </div>
    </div>

    <!--End::Row-->

    <!-- Start Row -->
    <div class="row text-center mb-6">

        <div class="col">

            <div class="card h-100">
                <div class="card-header">
                    <header>
                        <h3 data-toggle="collapse" data-target="#categoricalCollapse" aria-expanded="false"
                            aria-controls="categoricalCollapse">
                            Categorical Data
                        </h3>
                    </header>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <div class="collapse show active" id="categoricalCollapse">
                        <div class="card card-body">
                            <div class="d-flex flex-row">
                                {% if model_output_data.categorical_data_features|get_type == "str" %}
                                <div class="alert alert-secondary p-5 font-weight-bold" role="alert">
                                    <h4>
                                        {{ model_output_data.categorical_data_features|title }}
                                    </h4>
                                </div>
                                {% else %}
                                {% for item in model_output_data.categorical_data_features %}
                                <div class="mx-2">
                                    <button type="button" class="btn btn-primary font-weight-bold btn-pill">
                                        {{ item }}
                                    </button>
                                </div>
                                {% endfor %}
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div class="row text-center mb-6">

        <div class="col">

            <div class="card h-100">
                <div class="card-header">
                    <header>
                        <h3>
                            KPIs
                        </h3>
                    </header>
                </div>
                <div class="card-body" style="overflow-x: auto; white-space: nowrap;">
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-custom alert-light-dark fade show mb-5" role="alert">

                                <div class="alert-text">
                                    <h3 class="font-weight-boldest">
                                        Donors Predicted
                                    </h3>
                                    <h4 class="font-weight-boldest">
                                        {{ model_output_data.donors_predicted }}
                                    </h4>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">

                                <div class="alert-text">
                                    <h3 class="font-weight-boldest text-dark">
                                        Accuracy (F1-Score)
                                    </h3>
                                    <h4 class="font-weight-boldest text-dark">
                                        {{ model_output_data.f1_score }}
                                    </h4>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="alert alert-custom alert-light-warning bg-warning-o-50 fade show mb-5"
                                role="alert">

                                <div class="alert-text">
                                    <h3 class="font-weight-boldest text-dark">
                                        Threshold (Cut-off) Value
                                    </h3>
                                    <h4 class="font-weight-boldest text-dark">
                                        {{ model_output_data.threshold }}
                                    </h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <!--Begin::Row-->
    <div class="row">

        <div class="col-xl-6 col-lg-6">
            <!-- Start full card wrapper -->
            <section id="important-features-full-wrapper">
                <div class="card card-custom h-100">
                    <div class="card-header" style="z-index: 1;">
                        <div class="card-title">
                            <span class="card-icon">
                                <i class="icon-xl la la-chart-bar text-primary"></i>
                            </span>
                            <h3 class="card-label">
                                Important Features
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Start Loader Image -->
                        <div class="dashboard-loader">
                            <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..." />
                        </div>
                        <!-- End Loader Image -->

                        <!-- Start Important Features -->
                        <section id='importantFeaturesWrapper' class="my-transition d-none">
                            <!--begin::Chart-->
                            <div id="session_dashboard_important_features_chart" class="d-flex justify-content-center">
                            </div>
                            <!--end::Chart-->
                        </section>
                        <!-- End Important Features -->

                        <!-- Start No Important Features  -->
                        <section id="noImportantFeaturesWrapper" class="d-none my-transition">
                            <p class="text-dark-50 font-weight-bold" id='noImportantFeaturesBody'></p>
                        </section>
                        <!-- End No Important Features  -->


                    </div>
                </div>
                <!-- End full card wrapper -->

            </section>
        </div>



        <div class="col-xl-6 col-lg-6">
            <!-- Start Map full wrapper -->
            <section id="map-full-wrapper" class="h-100">
                <div class="card card-custom h-100">
                    <div class="card-header" style="z-index: 1;">
                        <div class="card-title">
                            <span class="card-icon">
                                <i class="icon-xl la la-map-marked text-primary"></i>
                            </span>
                            <h3 class="card-label">
                                Donor Penetration
                            </h3>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Start Loader Image -->
                        <div class="dashboard-loader">
                            <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..." />
                        </div>
                        <!-- End Loader Image -->

                        <!-- Start Map Wrapper -->
                        <section id="map-wrapper" class="my-transition d-none">
                            <div id="kt_jqvmap_world" class="jqvmap" " style=" height: 300px;"></div>
                        </section>
                        <!-- End Map Wrapper -->

                        <!-- Start no map wrapper -->
                        <section id="no-map-wrapper" class="d-none my-transition">
                            <p class="text-dark-50 font-weight-bold" id='noMapBody'></p>
                        </section>
                        <!-- End no map wrapper -->
                    </div>
                </div>
            </section>
            <!-- End Map full wrapper -->
        </div>
    </div>

    <!--End::Row-->
</div>



{% endblock content%}


{% block customjs %}

<script src="{% static 'assets/js/pages/widgets.js' %}"></script>

<script src="{% static 'assets/js/custom/members_app/dashboard_apexcharts.js' %}"></script>
<script src="{% static 'assets/js/custom/members_app/dashboard_jqvmap.js' %}"></script>
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/djangocookie.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/pages/widgets.js' %}"></script>
<!-- Custom Script of data handler list page -->
<script src="{% static 'assets/js/custom/members_app/helpers.js' %}"></script>
<script src="{% static 'assets/js/custom/members_app/apis.js' %}"></script>
<script src="{% static 'assets/js/custom/members_app/members.js' %}"></script>

{% endblock customjs %}